<div class="sticky-cta" id="sticky-cta" data-sticky-cta hidden>
  <div class="sticky-cta__inner">
    <div class="sticky-cta__info">
      <p class="sticky-cta__title">Kit Clear Skin</p>
      <p class="sticky-cta__price" data-price-eur="179.95">€179,95</p>
    </div>
    <a href="#kit" class="btn btn--filled sticky-cta__btn">Shop now</a>
  </div>
</div>
