<div class="sticky-cta" id="sticky-cta" data-sticky-cta hidden>
  <div class="sticky-cta__inner">
    <div class="sticky-cta__info">
      <p class="sticky-cta__title">Private label whitening</p>
      <p class="sticky-cta__price">OEM / ODM support</p>
    </div>
    <a href="/pages/contact" class="btn btn--filled sticky-cta__btn">Request a quote</a>
  </div>
</div>
