<div class="sticky-cta" id="sticky-cta" data-sticky-cta hidden>
  <div class="sticky-cta__inner">
    <div class="sticky-cta__info">
      <p class="sticky-cta__title">Complete Smile Bundle</p>
      <p class="sticky-cta__price" data-price-eur="42.95">€42.95 · Save €3.90</p>
    </div>
    <a href="/products/complete-smile-whitening-bundle" class="btn btn--filled sticky-cta__btn">Shop bundle</a>
  </div>
</div>
